.header {
  margin-top: 20px;

  &__menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 0;

    &__item {
      font-family: 'GT Eesti Pro Display';
      font-size: 1.5em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 70.62px;
      text-align: left;
      margin-left: 40px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;

    div {
      margin-left: 10px;
    }

    &__link {
      color: #454545;
      font-family: 'GT Eesti Pro Display';
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }

    &__text {
      margin-bottom: 0;
      color: #a6a5a5;
      font-family: 'GT Eesti Pro Display';
      font-size: 1.2em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 12.47px;
      text-align: left;
      text-decoration: underline;
    }
  }

  &__title {
    color: #212327;
    font-family: 'GT Eesti Pro Display';
    font-size: 4.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40.45px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
  }

  &__text {
    color: #212327;
    font-family: 'GT Eesti Pro Display';
    font-size: 2.2em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: center;

    & span {
      color: #e86404;
      font-family: 'GT Eesti Pro Display';
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
  }
}
